<!DOCTYPE html>
<html lang="pt-br" ng-app="exemplo-diretivas">
<head>
  <meta charset="UTF-8">
  <title>Diretivas AngularJS</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script>

  <script src="main.js"></script>
  <script src="modal-message/diretiva.js"></script>
  <script src="modal-message/controller.js"></script>
</head>
<body>
  <div ng-controller="ExemploModalMessageController">
    <h2>Utilizando minha diretiva ModalMsg</h2>

    <modal-msg class="btn btn-default" name='modal' title="Atenção, meu título..." message="Minha mensagem ao usuário..." size="sm">
      Modal pequena
    </modal-msg>

    <modal-msg class="btn btn-default" name='modal' title="Atenção, meu título..." message="Minha mensagem ao usuário...">
      Modal média
    </modal-msg>

    <modal-msg class="btn btn-default" name='modal' title="Atenção, meu título..." message="Minha mensagem ao usuário..." size="lg">
      Modal grande
    </modal-msg>

  </br></br>

  <p>Para este exemplo foi utilizado a diretiva <code>&lt;modal-msg&gt;</code> e seus atributos <code>title</code>, <code>message</code> e <code>size</code>, onde:</p>

  <ul class="list-style">
    <li><code>title</code>: foi utilizado para mostrar o título da modal, sendo que o mesmo também poderia ficar em branco.
      Mas neste exemplo foi utilizado para mostrar o título <strong>Atenção, meu título...</strong>;
    </li>

    <li><code>message</code>: atributo utilizado para mostrar a mensagem ao usuário.
      Neste exemplo foi utilizado para mostrar a mensagem <strong>Minha mensagem ao usuário...</strong>;
    </li>

    <li><code>size</code>: este atributo pode ser utilizado para configurar o tamanho da modal, sendo que neste exemplo foi utilizado o valor <code>sm</code> para modal
      pequena, <code>lg</code> para a modal grande, e para a modal média simplesmente não foi informado, sendo assim o tamanho default da modal.
    </li>
  </ul>

  <h2>Utilizando minha diretiva ModalMsg para excluir um item de uma lista de veículos</h2>

  <a ng-click="carregarVeiculos()">Recarregar carros</a>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center col-md-1">#</th>
          <th class="text-center col-md-12">Veículo</th>
          <th class="text-center col-md-1"></th>
        </tr>
      </thead>

      <tbody id="lista-veiculos">
        <tr ng-repeat="veiculo in veiculos">
          <td class="text-center">{{veiculo.id}}</td>
          <td>{{veiculo.veiculo}}</td>
          <td>
            <modal-msg class="btn btn-link btn-xs" title="Atenção..." message="Realmente deseja remover o veículo {{veiculo.veiculo}}?" function_ok="remover(veiculo)" function_cancel="cancelou(veiculo)">
              <span class="glyphicon glyphicon-remove"></span>
            </modal-msg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>Para este exemplo foi utilizado a diretiva <code>&lt;modal-msg&gt;</code> e seus atributos <code>title</code>, <code>message</code>, <code>size</code>, <code>function_ok</code> e <code>function_cancel</code> onde:</p>

  <ul class="list-style">
    <li>
      <code>title</code>: foi utilizado para mostrar o título da modal: <strong>Atenção...</strong>;
    </li>

    <li>
      <code>message</code>: foi utilizado para mostrar a mensagem <strong>Realmente deseja remover o veículo {veiculo} ?</strong>;
    </li>

    <li>
      <code>function_ok</code>: este atributo pode ser utilizado para passar por parâmetro qual função que deverá ser executada quando o usuário escolher a opção <strong>OK</strong>
      da modal, desta forma assim que a modal é fechada a função passada por parâmetro é executada. Neste exemplo foi utilizada a função <code>remover(veiculo)</code> que está localizada
      no controller <code>ExemploModalMessageController</code>;
    </li>

    <li>
      <code>function_cancel</code>: tem o mesmo comportamento que o atributo <code>function_ok</code>, mas este é executado quando o usuário selecionar a opção cancelar da modal.
      Neste exemplo foi utilizada a função <code>cancelou(veiculo)</code> que está localizada
      no controller <code>ExemploModalMessageController</code>
    </li>
  </ul>
</div>

<footer>
  <p>This project is maintained by <a href="https://github.com/mkacunha">mkacunha</a></p>
</footer>
</body>
</html>
